
body {
    background-color: #000; 
    color: #fff; 
}

.navbar {
    background-color: #001f3f; 
}

.card {
    background-color: #111; 
    color: #fff; 
    border: 1px solid #333; 
}

.card-title {
    color: #721bff; 
}

.bg-light {
    background-color: #222; 
}

.form-control {
    background-color: #333; 
    color: #fff; 
    border: 1px solid #555; 
}

.btn-primary {
    background-color: #ff851b; 
    border: 1px solid #ff851b; 
}
